<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bravolinks.erp.crm.server.dao.tssx.BO_PRM_PTT_CSC_SPECON_DAO" >
  <resultMap id="BaseResultMap" type="cn.bravolinks.erp.crm.server.model.tssx.BO_PRM_PTT_CSC_SPECON" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ORGNO" property="orgno" jdbcType="OTHER" />
    <result column="BINDID" property="bindid" jdbcType="DECIMAL" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="CREATEUSER" property="createuser" jdbcType="OTHER" />
    <result column="UPDATEDATE" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSER" property="updateuser" jdbcType="OTHER" />
    <result column="WORKFLOWID" property="workflowid" jdbcType="DECIMAL" />
    <result column="WORKFLOWSTEPID" property="workflowstepid" jdbcType="DECIMAL" />
    <result column="ISEND" property="isend" jdbcType="DECIMAL" />
    <result column="ZYXDM" property="zyxdm" jdbcType="OTHER" />
    <result column="GYSCJKBX" property="gyscjkbx" jdbcType="OTHER" />
    <result column="GYSBH" property="gysbh" jdbcType="OTHER" />
    <result column="GYSMC" property="gysmc" jdbcType="OTHER" />
    <result column="SQTSSXJE" property="sqtssxje" jdbcType="DECIMAL" />
    <result column="QQSQTSSXJE" property="qqsqtssxje" jdbcType="DECIMAL" />
    <result column="BCSQZZSRBL" property="bcsqzzsrbl" jdbcType="DECIMAL" />
    <result column="LJZZSRBL" property="ljzzsrbl" jdbcType="DECIMAL" />
    <result column="CBFPNR" property="cbfpnr" jdbcType="OTHER" />
    <result column="QDFPKPRQ" property="qdfpkprq" jdbcType="OTHER" />
    <result column="FKRQ" property="fkrq" jdbcType="OTHER" />
    <result column="TSSXBZ" property="tssxbz" jdbcType="OTHER" />
    <result column="SPYJ" property="spyj" jdbcType="OTHER" />
    <result column="SPLY" property="sply" jdbcType="OTHER" />
    <result column="QQLJZZSRBL" property="qqljzzsrbl" jdbcType="DECIMAL" />
    <result column="SQFWFE" property="sqfwfe" jdbcType="DECIMAL" />
    <result column="TSSXHJ" property="tssxhj" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORGNO, BINDID, CREATEDATE, CREATEUSER, UPDATEDATE, UPDATEUSER, WORKFLOWID, WORKFLOWSTEPID, 
    ISEND, ZYXDM, GYSCJKBX, GYSBH, GYSMC, SQTSSXJE, QQSQTSSXJE, BCSQZZSRBL, LJZZSRBL, 
    CBFPNR, QDFPKPRQ, FKRQ, TSSXBZ, SPYJ, SPLY, QQLJZZSRBL, SQFWFE, TSSXHJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BO_PRM_PTT_CSC_SPECON
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BO_PRM_PTT_CSC_SPECON
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.bravolinks.erp.crm.server.model.tssx.BO_PRM_PTT_CSC_SPECON" >
    insert into BO_PRM_PTT_CSC_SPECON (ID, ORGNO, BINDID, 
      CREATEDATE, CREATEUSER, UPDATEDATE, 
      UPDATEUSER, WORKFLOWID, WORKFLOWSTEPID, 
      ISEND, ZYXDM, GYSCJKBX, 
      GYSBH, GYSMC, SQTSSXJE, 
      QQSQTSSXJE, BCSQZZSRBL, LJZZSRBL, 
      CBFPNR, QDFPKPRQ, FKRQ, TSSXBZ, 
      SPYJ, SPLY, QQLJZZSRBL, 
      SQFWFE, TSSXHJ)
    values (#{id,jdbcType=DECIMAL}, #{orgno,jdbcType=OTHER}, #{bindid,jdbcType=DECIMAL}, 
      #{createdate,jdbcType=TIMESTAMP}, #{createuser,jdbcType=OTHER}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=OTHER}, #{workflowid,jdbcType=DECIMAL}, #{workflowstepid,jdbcType=DECIMAL}, 
      #{isend,jdbcType=DECIMAL}, #{zyxdm,jdbcType=OTHER}, #{gyscjkbx,jdbcType=OTHER}, 
      #{gysbh,jdbcType=OTHER}, #{gysmc,jdbcType=OTHER}, #{sqtssxje,jdbcType=DECIMAL}, 
      #{qqsqtssxje,jdbcType=DECIMAL}, #{bcsqzzsrbl,jdbcType=DECIMAL}, #{ljzzsrbl,jdbcType=DECIMAL}, 
      #{cbfpnr,jdbcType=OTHER}, #{qdfpkprq,jdbcType=OTHER}, #{fkrq,jdbcType=OTHER}, #{tssxbz,jdbcType=OTHER}, 
      #{spyj,jdbcType=OTHER}, #{sply,jdbcType=OTHER}, #{qqljzzsrbl,jdbcType=DECIMAL}, 
      #{sqfwfe,jdbcType=DECIMAL}, #{tssxhj,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.bravolinks.erp.crm.server.model.tssx.BO_PRM_PTT_CSC_SPECON" >
    insert into BO_PRM_PTT_CSC_SPECON
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgno != null" >
        ORGNO,
      </if>
      <if test="bindid != null" >
        BINDID,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="updatedate != null" >
        UPDATEDATE,
      </if>
      <if test="updateuser != null" >
        UPDATEUSER,
      </if>
      <if test="workflowid != null" >
        WORKFLOWID,
      </if>
      <if test="workflowstepid != null" >
        WORKFLOWSTEPID,
      </if>
      <if test="isend != null" >
        ISEND,
      </if>
      <if test="zyxdm != null" >
        ZYXDM,
      </if>
      <if test="gyscjkbx != null" >
        GYSCJKBX,
      </if>
      <if test="gysbh != null" >
        GYSBH,
      </if>
      <if test="gysmc != null" >
        GYSMC,
      </if>
      <if test="sqtssxje != null" >
        SQTSSXJE,
      </if>
      <if test="qqsqtssxje != null" >
        QQSQTSSXJE,
      </if>
      <if test="bcsqzzsrbl != null" >
        BCSQZZSRBL,
      </if>
      <if test="ljzzsrbl != null" >
        LJZZSRBL,
      </if>
      <if test="cbfpnr != null" >
        CBFPNR,
      </if>
      <if test="qdfpkprq != null" >
        QDFPKPRQ,
      </if>
      <if test="fkrq != null" >
        FKRQ,
      </if>
      <if test="tssxbz != null" >
        TSSXBZ,
      </if>
      <if test="spyj != null" >
        SPYJ,
      </if>
      <if test="sply != null" >
        SPLY,
      </if>
      <if test="qqljzzsrbl != null" >
        QQLJZZSRBL,
      </if>
      <if test="sqfwfe != null" >
        SQFWFE,
      </if>
      <if test="tssxhj != null" >
        TSSXHJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orgno != null" >
        #{orgno,jdbcType=OTHER},
      </if>
      <if test="bindid != null" >
        #{bindid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=OTHER},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=OTHER},
      </if>
      <if test="workflowid != null" >
        #{workflowid,jdbcType=DECIMAL},
      </if>
      <if test="workflowstepid != null" >
        #{workflowstepid,jdbcType=DECIMAL},
      </if>
      <if test="isend != null" >
        #{isend,jdbcType=DECIMAL},
      </if>
      <if test="zyxdm != null" >
        #{zyxdm,jdbcType=OTHER},
      </if>
      <if test="gyscjkbx != null" >
        #{gyscjkbx,jdbcType=OTHER},
      </if>
      <if test="gysbh != null" >
        #{gysbh,jdbcType=OTHER},
      </if>
      <if test="gysmc != null" >
        #{gysmc,jdbcType=OTHER},
      </if>
      <if test="sqtssxje != null" >
        #{sqtssxje,jdbcType=DECIMAL},
      </if>
      <if test="qqsqtssxje != null" >
        #{qqsqtssxje,jdbcType=DECIMAL},
      </if>
      <if test="bcsqzzsrbl != null" >
        #{bcsqzzsrbl,jdbcType=DECIMAL},
      </if>
      <if test="ljzzsrbl != null" >
        #{ljzzsrbl,jdbcType=DECIMAL},
      </if>
      <if test="cbfpnr != null" >
        #{cbfpnr,jdbcType=OTHER},
      </if>
      <if test="qdfpkprq != null" >
        #{qdfpkprq,jdbcType=OTHER},
      </if>
      <if test="fkrq != null" >
        #{fkrq,jdbcType=OTHER},
      </if>
      <if test="tssxbz != null" >
        #{tssxbz,jdbcType=OTHER},
      </if>
      <if test="spyj != null" >
        #{spyj,jdbcType=OTHER},
      </if>
      <if test="sply != null" >
        #{sply,jdbcType=OTHER},
      </if>
      <if test="qqljzzsrbl != null" >
        #{qqljzzsrbl,jdbcType=DECIMAL},
      </if>
      <if test="sqfwfe != null" >
        #{sqfwfe,jdbcType=DECIMAL},
      </if>
      <if test="tssxhj != null" >
        #{tssxhj,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bravolinks.erp.crm.server.model.tssx.BO_PRM_PTT_CSC_SPECON" >
    update BO_PRM_PTT_CSC_SPECON
    <set >
      <if test="orgno != null" >
        ORGNO = #{orgno,jdbcType=OTHER},
      </if>
      <if test="bindid != null" >
        BINDID = #{bindid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        CREATEUSER = #{createuser,jdbcType=OTHER},
      </if>
      <if test="updatedate != null" >
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        UPDATEUSER = #{updateuser,jdbcType=OTHER},
      </if>
      <if test="workflowid != null" >
        WORKFLOWID = #{workflowid,jdbcType=DECIMAL},
      </if>
      <if test="workflowstepid != null" >
        WORKFLOWSTEPID = #{workflowstepid,jdbcType=DECIMAL},
      </if>
      <if test="isend != null" >
        ISEND = #{isend,jdbcType=DECIMAL},
      </if>
      <if test="zyxdm != null" >
        ZYXDM = #{zyxdm,jdbcType=OTHER},
      </if>
      <if test="gyscjkbx != null" >
        GYSCJKBX = #{gyscjkbx,jdbcType=OTHER},
      </if>
      <if test="gysbh != null" >
        GYSBH = #{gysbh,jdbcType=OTHER},
      </if>
      <if test="gysmc != null" >
        GYSMC = #{gysmc,jdbcType=OTHER},
      </if>
      <if test="sqtssxje != null" >
        SQTSSXJE = #{sqtssxje,jdbcType=DECIMAL},
      </if>
      <if test="qqsqtssxje != null" >
        QQSQTSSXJE = #{qqsqtssxje,jdbcType=DECIMAL},
      </if>
      <if test="bcsqzzsrbl != null" >
        BCSQZZSRBL = #{bcsqzzsrbl,jdbcType=DECIMAL},
      </if>
      <if test="ljzzsrbl != null" >
        LJZZSRBL = #{ljzzsrbl,jdbcType=DECIMAL},
      </if>
      <if test="cbfpnr != null" >
        CBFPNR = #{cbfpnr,jdbcType=OTHER},
      </if>
      <if test="qdfpkprq != null" >
        QDFPKPRQ = #{qdfpkprq,jdbcType=OTHER},
      </if>
      <if test="fkrq != null" >
        FKRQ = #{fkrq,jdbcType=OTHER},
      </if>
      <if test="tssxbz != null" >
        TSSXBZ = #{tssxbz,jdbcType=OTHER},
      </if>
      <if test="spyj != null" >
        SPYJ = #{spyj,jdbcType=OTHER},
      </if>
      <if test="sply != null" >
        SPLY = #{sply,jdbcType=OTHER},
      </if>
      <if test="qqljzzsrbl != null" >
        QQLJZZSRBL = #{qqljzzsrbl,jdbcType=DECIMAL},
      </if>
      <if test="sqfwfe != null" >
        SQFWFE = #{sqfwfe,jdbcType=DECIMAL},
      </if>
      <if test="tssxhj != null" >
        TSSXHJ = #{tssxhj,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bravolinks.erp.crm.server.model.tssx.BO_PRM_PTT_CSC_SPECON" >
    update BO_PRM_PTT_CSC_SPECON
    set ORGNO = #{orgno,jdbcType=OTHER},
      BINDID = #{bindid,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      CREATEUSER = #{createuser,jdbcType=OTHER},
      UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      UPDATEUSER = #{updateuser,jdbcType=OTHER},
      WORKFLOWID = #{workflowid,jdbcType=DECIMAL},
      WORKFLOWSTEPID = #{workflowstepid,jdbcType=DECIMAL},
      ISEND = #{isend,jdbcType=DECIMAL},
      ZYXDM = #{zyxdm,jdbcType=OTHER},
      GYSCJKBX = #{gyscjkbx,jdbcType=OTHER},
      GYSBH = #{gysbh,jdbcType=OTHER},
      GYSMC = #{gysmc,jdbcType=OTHER},
      SQTSSXJE = #{sqtssxje,jdbcType=DECIMAL},
      QQSQTSSXJE = #{qqsqtssxje,jdbcType=DECIMAL},
      BCSQZZSRBL = #{bcsqzzsrbl,jdbcType=DECIMAL},
      LJZZSRBL = #{ljzzsrbl,jdbcType=DECIMAL},
      CBFPNR = #{cbfpnr,jdbcType=OTHER},
      QDFPKPRQ = #{qdfpkprq,jdbcType=OTHER},
      FKRQ = #{fkrq,jdbcType=OTHER},
      TSSXBZ = #{tssxbz,jdbcType=OTHER},
      SPYJ = #{spyj,jdbcType=OTHER},
      SPLY = #{sply,jdbcType=OTHER},
      QQLJZZSRBL = #{qqljzzsrbl,jdbcType=DECIMAL},
      SQFWFE = #{sqfwfe,jdbcType=DECIMAL},
      TSSXHJ = #{tssxhj,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <!-- 根据bindid 查询所有的特殊事项信息 -->
   <select id="getSpecByBindid" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM BO_PRM_PTT_CSC_SPECON WHERE bindid = #{0}
  </select>
  
</mapper>