<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bravolinks.erp.crm.server.dao.xzkh.BO_CRM_INDCLIENT_LM_DAO" >
  <resultMap id="BaseResultMap" type="cn.bravolinks.erp.crm.server.model.xzkh.BO_CRM_INDCLIENT_LM" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ORGNO" property="orgno" jdbcType="OTHER" />
    <result column="BINDID" property="bindid" jdbcType="DECIMAL" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="CREATEUSER" property="createuser" jdbcType="OTHER" />
    <result column="UPDATEDATE" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSER" property="updateuser" jdbcType="OTHER" />
    <result column="WORKFLOWID" property="workflowid" jdbcType="DECIMAL" />
    <result column="WORKFLOWSTEPID" property="workflowstepid" jdbcType="DECIMAL" />
    <result column="ISEND" property="isend" jdbcType="DECIMAL" />
    <result column="XM" property="xm" jdbcType="OTHER" />
    <result column="XB" property="xb" jdbcType="OTHER" />
    <result column="GXDM" property="gxdm" jdbcType="OTHER" />
    <result column="DH" property="dh" jdbcType="OTHER" />
    <result column="SJ" property="sj" jdbcType="OTHER" />
    <result column="CSRQ" property="csrq" jdbcType="TIMESTAMP" />
    <result column="BZ" property="bz" jdbcType="OTHER" />
    <result column="PARENTSUBID" property="parentsubid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORGNO, BINDID, CREATEDATE, CREATEUSER, UPDATEDATE, UPDATEUSER, WORKFLOWID, WORKFLOWSTEPID, 
    ISEND, XM, XB, GXDM, DH, SJ, CSRQ, BZ, PARENTSUBID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from  BO_CRM_INDCLIENT_LM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from  BO_CRM_INDCLIENT_LM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.bravolinks.erp.crm.server.model.xzkh.BO_CRM_INDCLIENT_LM" >
    insert into  BO_CRM_INDCLIENT_LM (ID, ORGNO, BINDID, 
      CREATEDATE, CREATEUSER, UPDATEDATE, 
      UPDATEUSER, WORKFLOWID, WORKFLOWSTEPID, 
      ISEND, XM, XB, GXDM, 
      DH, SJ, CSRQ, BZ, 
      PARENTSUBID)
    values (#{id,jdbcType=DECIMAL}, #{orgno,jdbcType=OTHER}, #{bindid,jdbcType=DECIMAL}, 
      #{createdate,jdbcType=TIMESTAMP}, #{createuser,jdbcType=OTHER}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=OTHER}, #{workflowid,jdbcType=DECIMAL}, #{workflowstepid,jdbcType=DECIMAL}, 
      #{isend,jdbcType=DECIMAL}, #{xm,jdbcType=OTHER}, #{xb,jdbcType=OTHER}, #{gxdm,jdbcType=OTHER}, 
      #{dh,jdbcType=OTHER}, #{sj,jdbcType=OTHER}, #{csrq,jdbcType=TIMESTAMP}, #{bz,jdbcType=OTHER}, 
      #{parentsubid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.bravolinks.erp.crm.server.model.xzkh.BO_CRM_INDCLIENT_LM" >
    <selectKey resultType="int" order="BEFORE" keyProperty="id">
      SELECT BO_CRM_INDCLIENT_LM_SEQ.NEXTVAL FROM dual
	</selectKey>  
    insert into  BO_CRM_INDCLIENT_LM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgno != null" >
        ORGNO,
      </if>
      <if test="bindid != null" >
        BINDID,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="updatedate != null" >
        UPDATEDATE,
      </if>
      <if test="updateuser != null" >
        UPDATEUSER,
      </if>
      <if test="workflowid != null" >
        WORKFLOWID,
      </if>
      <if test="workflowstepid != null" >
        WORKFLOWSTEPID,
      </if>
      <if test="isend != null" >
        ISEND,
      </if>
      <if test="xm != null" >
        XM,
      </if>
      <if test="xb != null" >
        XB,
      </if>
      <if test="gxdm != null" >
        GXDM,
      </if>
      <if test="dh != null" >
        DH,
      </if>
      <if test="sj != null" >
        SJ,
      </if>
      <if test="csrq != null" >
        CSRQ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="parentsubid != null" >
        PARENTSUBID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orgno != null" >
        #{orgno,jdbcType=OTHER},
      </if>
      <if test="bindid != null" >
        #{bindid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=OTHER},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=OTHER},
      </if>
      <if test="workflowid != null" >
        #{workflowid,jdbcType=DECIMAL},
      </if>
      <if test="workflowstepid != null" >
        #{workflowstepid,jdbcType=DECIMAL},
      </if>
      <if test="isend != null" >
        #{isend,jdbcType=DECIMAL},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=OTHER},
      </if>
      <if test="xb != null" >
        #{xb,jdbcType=OTHER},
      </if>
      <if test="gxdm != null" >
        #{gxdm,jdbcType=OTHER},
      </if>
      <if test="dh != null" >
        #{dh,jdbcType=OTHER},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=OTHER},
      </if>
      <if test="csrq != null" >
        #{csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=OTHER},
      </if>
      <if test="parentsubid != null" >
        #{parentsubid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bravolinks.erp.crm.server.model.xzkh.BO_CRM_INDCLIENT_LM" >
    update  BO_CRM_INDCLIENT_LM
    <set >
      <if test="orgno != null" >
        ORGNO = #{orgno,jdbcType=OTHER},
      </if>
      <if test="bindid != null" >
        BINDID = #{bindid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        CREATEUSER = #{createuser,jdbcType=OTHER},
      </if>
      <if test="updatedate != null" >
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        UPDATEUSER = #{updateuser,jdbcType=OTHER},
      </if>
      <if test="workflowid != null" >
        WORKFLOWID = #{workflowid,jdbcType=DECIMAL},
      </if>
      <if test="workflowstepid != null" >
        WORKFLOWSTEPID = #{workflowstepid,jdbcType=DECIMAL},
      </if>
      <if test="isend != null" >
        ISEND = #{isend,jdbcType=DECIMAL},
      </if>
      <if test="xm != null" >
        XM = #{xm,jdbcType=OTHER},
      </if>
      <if test="xb != null" >
        XB = #{xb,jdbcType=OTHER},
      </if>
      <if test="gxdm != null" >
        GXDM = #{gxdm,jdbcType=OTHER},
      </if>
      <if test="dh != null" >
        DH = #{dh,jdbcType=OTHER},
      </if>
      <if test="sj != null" >
        SJ = #{sj,jdbcType=OTHER},
      </if>
      <if test="csrq != null" >
        CSRQ = #{csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=OTHER},
      </if>
      <if test="parentsubid != null" >
        PARENTSUBID = #{parentsubid,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bravolinks.erp.crm.server.model.xzkh.BO_CRM_INDCLIENT_LM" >
    update  BO_CRM_INDCLIENT_LM
    set ORGNO = #{orgno,jdbcType=OTHER},
      BINDID = #{bindid,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      CREATEUSER = #{createuser,jdbcType=OTHER},
      UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      UPDATEUSER = #{updateuser,jdbcType=OTHER},
      WORKFLOWID = #{workflowid,jdbcType=DECIMAL},
      WORKFLOWSTEPID = #{workflowstepid,jdbcType=DECIMAL},
      ISEND = #{isend,jdbcType=DECIMAL},
      XM = #{xm,jdbcType=OTHER},
      XB = #{xb,jdbcType=OTHER},
      GXDM = #{gxdm,jdbcType=OTHER},
      DH = #{dh,jdbcType=OTHER},
      SJ = #{sj,jdbcType=OTHER},
      CSRQ = #{csrq,jdbcType=TIMESTAMP},
      BZ = #{bz,jdbcType=OTHER},
      PARENTSUBID = #{parentsubid,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
   <!-- 查询id -->
   <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from BO_CRM_INDCLIENT_LM where bindid = #{0}
  </select>

  <delete id="deleteByBindid" parameterType="java.lang.Integer">
    delete from BO_CRM_INDCLIENT_LM where bindid = #{0}
  </delete>

  <insert id="insertSelectiveFromBusLm" parameterType="cn.bravolinks.erp.crm.server.model.xzkh.BoCrmIndclientbusLm" >
    <selectKey resultType="int" order="BEFORE" keyProperty="id">
      SELECT BO_CRM_INDCLIENT_LM_SEQ.NEXTVAL FROM dual
    </selectKey>
    insert into  BO_CRM_INDCLIENT_LM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgno != null" >
        ORGNO,
      </if>
      <if test="bindid != null" >
        BINDID,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="updatedate != null" >
        UPDATEDATE,
      </if>
      <if test="updateuser != null" >
        UPDATEUSER,
      </if>
      <if test="workflowid != null" >
        WORKFLOWID,
      </if>
      <if test="workflowstepid != null" >
        WORKFLOWSTEPID,
      </if>
      <if test="isend != null" >
        ISEND,
      </if>
      <if test="xm != null" >
        XM,
      </if>
      <if test="xb != null" >
        XB,
      </if>
      <if test="gxdm != null" >
        GXDM,
      </if>
      <if test="dh != null" >
        DH,
      </if>
      <if test="sj != null" >
        SJ,
      </if>
      <if test="csrq != null" >
        CSRQ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="parentsubid != null" >
        PARENTSUBID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orgno != null" >
        #{orgno,jdbcType=OTHER},
      </if>
      <if test="bindid != null" >
        #{bindid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=OTHER},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=OTHER},
      </if>
      <if test="workflowid != null" >
        #{workflowid,jdbcType=DECIMAL},
      </if>
      <if test="workflowstepid != null" >
        #{workflowstepid,jdbcType=DECIMAL},
      </if>
      <if test="isend != null" >
        #{isend,jdbcType=DECIMAL},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=OTHER},
      </if>
      <if test="xb != null" >
        #{xb,jdbcType=OTHER},
      </if>
      <if test="gxdm != null" >
        #{gxdm,jdbcType=OTHER},
      </if>
      <if test="dh != null" >
        #{dh,jdbcType=OTHER},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=OTHER},
      </if>
      <if test="csrq != null" >
        #{csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=OTHER},
      </if>
      <if test="parentsubid != null" >
        #{parentsubid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>